.menuHover {
  transition: all 0.3s ease;
  cursor: pointer;
}

.profile-image-wrapper {
  max-width: 420px;
  margin: auto;
  overflow: hidden;
  border-radius: 22px;
}

.profile-image {
  width: 100%;
  height: 520px;
  object-fit: cover;
  object-position: center 15%;
  transform: scale(1.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
}

.menuHover:hover {
  background-color: black !important;
  color: white !important;
  transform: scale(1.05);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

:target {
  scroll-margin-top: 80px;
}

.hireMe {
  transition: all 0.3s ease;
  cursor: pointer;
}

.hireMe:hover {
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid black !important;
  color: rgb(0, 0, 0) !important;
  transform: scale(1.05);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
  border-radius: 0.25rem !important;
}
.navbar-toggler {
  margin: 0;
}

.zoom-effect {
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  will-change: transform, box-shadow;
}

.zoom-effect:hover {
  transform: scale(1.05);

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  z-index: 10;
}

@media (min-width: 1400px) {
  .py-extra-large {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
}

@media (min-width: 1920px) {
  .py-super-large {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
  }
}
